/* ===== Container ===== */
.container {
  max-width: 750px;
  margin: 50px auto;
  padding: 30px;
  background: hsl(0, 0%, 98%);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
} 

/* ===== Title ===== */
.title {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
} 

/* From Uiverse.io by Maximinodotpy */ 
.inputGroup {
  margin: 2em 0 2em 0;
  max-width: 100%;
  position: relative;
}

.inputGroup input {
  font-size: 1.6rem;
  padding: 15px;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  padding: 15px;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label{
  font-size: 1.8rem;
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: hsl(0, 0%, 99%);
}

.inputGroup input:focus {
  border-color: rgb(150, 150, 200);
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.shareBtn {
  display: inline-block;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.shareBtn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.shareBtn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.shareBtn:hover::before {
  width: 250%;
} 

.message {
  font-size: 1.5rem;
  color: hsl(0, 97%, 50%);
  font-family: 'Segoe UI', sans-serif;
}

/* ===== Responsive ===== */
@media (max-width: 480px) {

  .container {
    padding: 20px;
    margin: 30px 10px;
  }

  .title {
    font-size: 1.8rem;
  }
}
