.footer {
  margin-top: auto;  
  background-color: #222;
  padding: 15px 0;
  text-align: center;
}

.myP {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.temp {
  opacity: 0.8;
}
